.apidocs,
.guide {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 250px 1fr;
  @media only screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    & > nav {
      display: none;
    }
    & > div.doc {
      padding: 1rem;
    }
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1000px 1fr;
  }
  & > nav,
  & > .doc {
    grid-row: 1;
    padding: 1rem;
  }
  & > nav {
    background-color: $gray2;
    padding: 0;
    grid-column: 1;
    header {
      font-weight: bold;
      padding: 0.6rem 0.9rem;
      border-bottom: 1px solid $gray4;
      margin-top: 0.5rem;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        transition: all 100ms;
        font-size: 14px;
        &.active {
          pointer-events: none;
          background-color: $gray5;
          a {
            color: $teal11;
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
        }
        a {
          flex: 1;
          padding: 0.6rem 1rem;
          color: $teal12;
          text-decoration: none;
          &:first-of-type {
            padding-top: 0.8rem;
          }
        }
        a:hover {
          color: $teal11;
        }
      }
    }
  }
  & > .doc {
    grid-column: 2;
    padding: 1rem 2rem;
  }
  .monotitle {
    font-family: "Iosevka Web", monospace;
  }
  .reference {
    .api {
      padding-bottom: 15px;
      .tag {
        background-color: #5699e1;
        color: rgb(239, 245, 249);
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        padding: 3px 5px;
        border-radius: 8px;
        &.rpc {
          background-color: #8e56e1;
        }
        &.event {
          background-color: #018937;
        }
        &.history {
          background-color: #037f88;
        }
      }
    }
  }
}

.schema {
  margin-top: 1rem;
  code > ul:first-of-type > li > blockquote {
    padding-top: 0;
  }
  blockquote {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    color: $gray9;
    &::before {
      content: "// ";
    }
  }
  .nameblock {
    display: none;
  }
  .kind.array,
  .kind.object,
  .kind.dictionary {
    color: $grass12;
  }
  li {
    list-style-type: none;
    & > code > .nameblock {
      display: inline-flex;
      padding-right: 0.5rem;
      & > .name {
        &::before,
        &::after {
          content: '"';
        }
      }
    }
  }
  .dict {
    display: inline;
    .key {
      display: inline;
    }
    .element {
      display: inline;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
  }
  .name {
    color: $yellow11;
  }
  .kind {
    color: $grass10;
  }
}

.doc {
  h2 {
    border-bottom: 1px solid $gray5;
    padding-bottom: 0.4rem;
    margin-top: 2rem;
  }

  .guide-pic {
    img {
      max-width: 100%;
      border: 2px solid $gray4;
      border-radius: 3px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
    &.flashbang {
      img {
        filter: brightness(80%) contrast(80%);
      }
    }
  }
}
