<header class="site-nav">
  <a href="/" class="appname">
    <img src="/brand/icon-logo.svg" height="30" /> strimertül
  </a>
  <nav>
    <a
      href="{{ relURL "" }}"
      {{ if .IsHome }}class="current"{{ end }}
      >Overview</a
    >
    {{ $currentPage := . }}
    {{ $section := .Site.GetPage $currentPage.Section }}
    {{ range .Site.Menus.main }}
      <a
        class="navbar-item {{ if $section.IsMenuCurrent "main" . }}
          current
        {{ end }}"
        href="{{ .URL | absLangURL | safeURL }}"
      >
        {{ .Name }}
      </a>
    {{ end }}
    <a href="https://github.com/strimertul/strimertul">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        style="padding-right: 1px;margin-left:0"
        viewBox="-32 -32 160 160"
      >
        <path
          fill="#fff"
          fill-rule="evenodd"
          d="M49 0A49 49 0 0034 96c2 0 3-1 3-2V84c-14 3-17-5-17-5-2-6-5-8-5-8-5-3 0-3 0-3 5 1 8 5 8 5 4 8 11 6 14 4 0-3 2-5 3-6-11-1-22-5-22-24 0-6 2-10 5-14-1-1-2-6 0-13 0 0 4-1 14 5a47 47 0 0112-1l12 1c9-6 13-5 13-5 3 7 1 12 1 13 3 4 5 8 5 14 0 19-11 23-22 24 1 1 3 4 3 9v14c0 1 1 2 3 2 20-7 34-25 34-47C98 22 76 0 49 0z"
          clip-rule="evenodd"
        ></path></svg
      >GitHub</a
    >
  </nav>
</header>
