<header class="site-nav">
  <div class="appname">
    <img src="/brand/icon-logo.svg" height="30" />
    strimertül
  </div>
  <nav>
    <a
      href="{{ relURL "" }}"
      {{ if .IsHome }}class="current"{{ end }}
      >Overview</a
    >
    {{ $currentPage := . }}
    {{ $section := .Site.GetPage $currentPage.Section }}
    {{ range .Site.Menus.main }}
      <a
        class="navbar-item {{ if $section.IsMenuCurrent "main" . }}
          current
        {{ end }}"
        href="{{ .URL | absLangURL | safeURL }}"
      >
        {{ .Name }}
      </a>
    {{ end }}
    <a href="https://github.com/strimertul/strimertul">GitHub</a>
  </nav>
</header>
