<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}
    {{ $title =
      .Site.Title
    }}
  {{ end }}
  <title>{{ $title }}</title>
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS (dict
    "targetPath" "css/main.css" "enableSourceMap" true ) | minify |
    resources.Fingerprint
  }}
  <style>
    body {
      background-color: hsl(0, 0%, 8.5%);
    }
  </style>
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/fav/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/fav/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/fav/favicon-16x16.png"
  />
  <link rel="manifest" href="/fav/site.webmanifest" />
</head>
